In [1]:
import pandas as pd
import os

os.listdir('C:/Users/rvozzi/OneDrive - genommalabinternacional/Documentos/ECD/Viz')

['.ipynb_checkpoints',
 '2022w43-QueryResult.csv',
 '2022w44-QueryResult.csv',
 '2022w45-QueryResult.csv',
 'ETL_logs.ipynb',
 'ETL_PDA.ipynb',
 'exportar',
 'exportar.xml',
 'export_cda.xml',
 'VAST-Challenge-2022.zip',
 'week44.twb',
 'week45.twb']

In [2]:
#Descargo el archivo
data = pd.read_xml('C:/Users/rvozzi/OneDrive - genommalabinternacional/Documentos/ECD/Viz/exportar.xml')

#Las primeras 2 filas no sirven
data = data.iloc[2:, :]

#mi telefono es 'iPhone de Raul (2)', por lo que luego no uso la columna sourceName
data = data[data['sourceName'] == 'iPhone de Raul (2)']

#uso las columnas que estan llenas
#sourceVersion es la version iphone del ios a ese momento, tampoco la uso
#el device es siempre el mismo asi que tampoco lo uso
#mido todo segun el momento en que inicio el ejercicio, saco 'creationDate' y 'endDate'
data = data[['value', 'type', 'unit', 'startDate']]

#filtro los tipos de mediciones que no me interesan
data = data[~data['type'].isin(
                            ['HKQuantityTypeIdentifierFlightsClimbed', 
                             'HKQuantityTypeIdentifierHeadphoneAudioExposure',
                             'HKQuantityTypeIdentifierWalkingDoubleSupportPercentage',
                             'HKQuantityTypeIdentifierWalkingAsymmetryPercentage']
                               )]

#Cambio los nombres de los types a un nombre mas lindo
type_replace = {"HKQuantityTypeIdentifierStepCount" : "Step Count",
                "HKQuantityTypeIdentifierDistanceWalkingRunning" : "Distance (km)",
                "HKQuantityTypeIdentifierWalkingSpeed" : "Speed (km/h)",
                "HKQuantityTypeIdentifierWalkingStepLength" : "Step Length (cm)"}
data = data.replace({"type": type_replace})

data = data.replace({"unit": {"km/hr" : "km/h"}})

#le saco el horario y la zona horaria a la columna 'startDate'
data['startDate'] = data['startDate'].astype(str).str[0:10]

data = data.reset_index(drop = True)

data.to_csv(path_or_buf = 'C:/Users/rvozzi/OneDrive - genommalabinternacional/Documentos/ECD/Viz/base.csv',
                    sep = ',', index = False)

In [3]:
data

      value              type   unit   startDate
0         9        Step Count  count  2019-07-31
1        87        Step Count  count  2019-07-31
2       222        Step Count  count  2019-07-31
3        32        Step Count  count  2019-07-31
4        34        Step Count  count  2019-07-31
...     ...               ...    ...         ...
92984    77  Step Length (cm)     cm  2022-11-12
92985    75  Step Length (cm)     cm  2022-11-12
92986    74  Step Length (cm)     cm  2022-11-12
92987    77  Step Length (cm)     cm  2022-11-12
92988    76  Step Length (cm)     cm  2022-11-12

[92989 rows x 4 columns]

In [4]:
data1 = data[['type', 'unit']]
data1.drop_duplicates()

                   type   unit
0            Step Count  count
30528     Distance (km)     km
61051      Speed (km/h)   km/h
77020  Step Length (cm)     cm